@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
@import '../less/font-awesome.less';

body {
    font-weight: 300;
    font-family: 'PT Serif', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
     -webkit-font-smoothing: antialiased;
    color: #000;
    font-weight: 600;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 10px;
}
a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-weight: 700;
    color: #848282;
    &:hover{
        text-decoration: none !important;
        color: #1d1d1d;
    }
    &:active {
        text-decoration: none !important;
    }
    &:visited {
        text-decoration: none !important;
    }
    &:focus {
        text-decoration: none !important;
    }
}
hr {
    margin-top: 0;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #D8D3D3;
}
.img-frame {
    float: left;
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-bottom: 3px solid #DFDFDF;
    padding: 15px 15px 0;
    height: auto;
    margin-right: 15px;
    margin-bottom: 20px;
    & img{
        max-width: 1135px;
        width: 100%;
    }
}
.caption-frame {
    font-size: 11px;
    font-weight: 700;
    color: #7C7C7C;
    & p{
        margin-bottom: 0px;
    }
}

/* MEDIA HANDLING */
.media {
    border-bottom: 1px solid #C3C3C3;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-left {padding-right: 20px;}

.media-right {padding-left: 15px;}

.media-object {
    border-radius: 100%;
    height: auto;
    margin-top: 0%;
    width: 150px;
}

.media-heading {
    background-color: transparent !important;
    border-left: 0px !important;
    font-size: 30px;
    padding: 10px;
}

.media-body {
    font-family: 'PT Sans Narrow', 'Sans-Serif';
    font-size: 15px;
}

.media-img-editorial {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.20);
    height: 115px;
    width: 115px;
}
hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #D8D3D3;
}

.posted-img img {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.wp-caption-text {
    font-size: 11px;
    font-weight: 700;
    color: #7C7C7C;
}

.storify {
    width: 100%;
    margin-left: 10%;
}

.menu-menu-tags-container ul::before {
    content: 'Pendientes de:';
    text-transform: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

.su-quote-style-default {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em 3em;
    font-style: italic;
}

.su-quote-style-default:before, .su-quote-style-default:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/quote.png') !important;
    content: '';
}

.su-quote-style-default:before {
    top: 0;
    left: 0;
    background-position: 0 0;
}

.su-quote-style-default:after {
    right: 0;
    bottom: 0;
    background-position: -20px 0;
}

.su-quote-inner {
    margin-left: 13%;
    font-size: 23px;
    width: 66%;
    line-height: 40px;
    font-weight: 600;
    color: #4a4a4a;
}

.su-pullquote {
    width: 270px;
    border-left: 4px solid #7C7C7C;
    padding: 15px;
    margin-left: 20px;
    font-weight: 600;
    color: #454545;
    background-color: #FFF;
    font-size: 20px;
    line-height: 26px;
}

.su-responsive-media-yes {
    position: relative;
    padding-bottom: 33%;
    height: 0;
    overflow: hidden;
}

pre {
    display: block;
    padding: 16.5px;
    margin: 0 0 10px;
    font-size: 25px;
    text-align: center;
    line-height: 1.42857143;
    color: #333;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    word-break: normal;
    word-wrap: normal;
    background-color: #FFFFFF;
    white-space: normal;
    border-left: 0px;
    border-right: 0px;
    border-top: 3px double #ccc;
    border-bottom: 3px double #ccc;
}
.iframe-bs {
    background-color: #fff;
    border-bottom: 3px solid #DFDFDF;
    border: 1px solid #DFDFDF;
    color: #7C7C7C;
    float: left;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding: 10px;
    & p {
        margin: 0px !important;
    }
}
.alinearizq {
    margin-left: 10px;
    & .iframe-bs {
        margin-right: 0px;
    }
    & .img-frame {
        margin-right: 0px;
    }
}

.alinearder {
    float: left;
    margin-right: 10px;
}

.centrado {

}

.columna2 .wp-caption {width: 100% !important;}

.columna3 .wp-caption {width: 100% !important;}

aside {
    background-color: #000;
    color: #FDFDFD;
    float: left;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 20px;
    padding: 35px;
    text-align: center;
    width: 250px;
}
.asideleft {margin-right: 20px;}

.asideright {
    float: right!important;
    margin-left: 20px;
}
.wp-caption {
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-bottom: 3px solid #DFDFDF;
    padding: 15px 15px 0;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    & img {
        width: 100%;
        padding-bottom: 5px;
    }
}
.wp-caption-text {
    font-size: 11px;
    font-weight: 700;
    color: #7C7C7C;
}
/**LIVEBLOG */
#status_bar {
    background-color: #000000 !important;
}

#24lb_list{
    font-family: 'PT Sans Narrow', Sans-serif;
    font-size: 21px !important;
}

#24btnDesc {
    background-color: #C70707 !important;
}

.blogdiv img {
    border: 10px solid rgb(232, 232, 232);
}

.comment {
    font-family: 'PT Sans Narrow', Sans-serif;
    font-weight: 600;
}
