/* Css para iFrames */
a{ color: white; text-decoration: none;}
.wrapper{max-width: 580px; height: 230px; margin: 0 auto; position: relative;}
.info-bar{
    background: black;
    font-size: 12px;
    display: block;
    overflow: auto;
    float: left;
    width: 100% !important;
    color: white;
    height: 30px;
    overflow: hidden;
}
.logo img{ height: 30px;}
.logo, .tag_name,.tag_link{float: left;}
.tag_name,.tag_link,.tag_counter{margin-top: 8px;}
.tag_name{margin-left: 10px; font-weight: bold;}
.tag_link a{color: #999;}
.tag_counter{float:right; margin-right: 20px; font-weight: bold;}
.content{float: left;}
.content .thumb{ float: left; width: 200px; height: 200px;}
.content .thumb img{width: 100% !important; height: 100% !important; }
.elements{float: left; padding: 15px; width: 350px !important;}
.title h1{font-size: 18px; color: #333; margin-top: 0px;}
.excerpt{font-size: 12px;}
.nav-bar{
    height: 20px;
    position: absolute;
    background: #F0F0F0;
    top: 210px;
    left:200px;
    width: 380px;
    font-size: 12px;
}
.nav-bar .credits,.nav-bar .navigation{margin-top: 3px;}
.nav-bar .credits{float:left; margin-left: 5px; color: #999;}
.nav-bar .credits a{color: black; font-weight: bold;}
.nav-bar .navigation{float:right; margin-right: 5px;}
.navigation ul{margin: 0px; padding: 0px;}
.navigation ul li{display: inline-block;}
.navigation ul li a{color: #333;}
.navigation .fa{color: red;}