/* STYLE SUMARIUM */
/* CONTENTS */
/* 0.- WORDPRESS CORE */
/* 1.- FRONT */
/* 2.- HEADER */
/* 3.- FOOTER */
/* 4.- SINGLE */
/* 5.- ARCHIVE */
/* 6.- FEATURED SECTIONS */
/* 7.- SIDEBAR PARTS  */
/* 8.- TAGS TEMPLATE PART */
/* 9.- SINGLE ELEMENTS */
/* 10.- SOMOS SUMARIUM PAGE */
/* 11.- OPINION PAGE */

/* 0.- WORDPRESS CORE */

@import '../less/lesshat.less';
@import '../less/wordpress-core.less';
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}

/*******************************************************
ANIMATION DELAY - RETARDANTE
*******************************************************/
.delay-one {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.delay-two {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.delay-three {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.delay-four {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);

/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Class */
.no-margin{margin: 0;}.no-margint{margin-top: 0px;}.no-marginb{margin-bottom: 0px;}
.margint5{margin-top: (@5);}.margint10{margin-top: (@10);}.margint15{margin-top: (@15);}.margint20{margin-top: (@20);}.margint25{margin-top: (@25);}.margint30{margin-top: (@30);}
.marginb5{margin-bottom: (@5);}.marginb10{margin-bottom: (@10);}.marginb15{margin-bottom: (@15);}.marginb20{margin-bottom: (@20);}.marginb25{margin-bottom: (@25);}.marginb30{margin-bottom: (@30);}
.no-padding{padding: 0;}.no-paddingt{padding-top: 0px;}.no-paddingb{padding-bottom: 0px;}.no-paddingl{padding-left: 0px;}.no-paddingr{padding-right: 0px;}
.paddingt5{padding-top: (@5);}.paddingt10{padding-top: (@10);}.paddingt15{padding-top: (@15);}.paddingt20{padding-top: (@20);}.paddingt25{padding-top: (@25);}.paddingt30{padding-top: (@30);}
.paddingb5{padding-bottom: (@5);}.paddingb10{padding-bottom: (@10);}.paddingb15{padding-bottom: (@15);}.paddingb20{padding-bottom: (@20);}.paddingb25{padding-bottom: (@25);}.paddingb30{padding-bottom: (@30);}
.marginr30{margin-right: @30}
.margint40{margin-top: @30 + @10}

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */

html, body {
    height: 100%;
    background: #FAFAFA !important;
}
body {
    font-weight: 300;
    font-family: 'PT Serif', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}
a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #343131;
    &:hover {
        text-decoration: none !important;
        color: #A8A8A8;
    }
    &:active {
        text-decoration: none !important;
    }
    &:visited {
        text-decoration: none !important;
    }
    &:focus {
        text-decoration: none !important;
    }
}



.showdiv{
    display: block !important;
}
.hidediv{
    display: none !important;
}

/* WP-PAGINATE */
.paginator {padding-bottom: 15px;}

.wp-paginate {
    list-style: none;
    & li {float: left;}
    & .current {
        background: #4D4D4D;
        border-radius: 0px;
        border: #C60807;
        color: #FFF;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin-right: 4px;
        padding: 3px 10px;
    }
    & a {
        background: transparent;
        border: 0px;
        color: #4D4D4D;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 19px;
        font-weight: 700;
        margin-right: 4px;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
    }
    &:hover{
        background: transparent;
        color: #C60807;
    }
    &:active{
        background: transparent;
        color: #C60807;
    }
}

/* 1.- FRONT  */
.main-content {
    padding-top: 20px;
}

/** ESTRUCTURA PRINCIPAL **/
.skeleton-loop {
    margin: 30px 0;
}

/** BLOQUE DE NOTICIAS **/
/** BLOQUE DE 5 COLUMNAS **/
.five-cols-front-item {
    position: relative;
    height: auto;
    margin-bottom: 30px;
    &:hover .five-cols-title {
        bottom: 10%;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
    }
}
.five-cols-img-wrapper {
    width: 100%;
    & img {
        width: 100%;
    }
}
.five-cols-front-link-noimg {
    position: initial!important;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.five-cols-title {
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: #FFF;
    right: 20px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.five-cols-item-title {
    font-weight: 700;
    line-height: 50px;
    padding-top: 0;
    font-size: 35px;
    margin-top: 0;
    color: #FFF;
    display: initial;
    background-color: rgba(45,44,42,.6);
}
.five-cols-item-author {
    font-size: 19px;
    line-height: 30px;
    background-color: rgba(0,0,0,.52);
    padding-right: 5px;
    font-weight: 600;
    font-style: italic;
    display: initial;
    color: #BABABA;
}
.front-link {
    text-decoration: none;
    color: #000;
}
.front-link-noimg {
    background-color: transparent!important;
    color: #333;
    line-height: 40px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    &:hover {
        color: #BABABA;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
    }
}

/** BLOQUE DE 3 COLUMNAS **/
.three-cols-main-container {
    background-color: #252525;
}
.three-cols-front-item {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    &:hover .three-cols-item-title {
        color: #bababa!important;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
}
.three-cols-img-wrapper {
    width: 100%;
    -webkit-transition: all .2s linear .3s;
    -moz-transition: all .2s linear .3s;
    -o-transition: all .2s linear .3s;
    transition: all .2s linear .3s;
    & img{
        width: 100%;
        -webkit-transition: all .2s linear .3s;
        -moz-transition: all .2s linear .3s;
        -o-transition: all .2s linear .3s;
        transition: all .2s linear .3s;
    }
}
.three-cols-item-title {
    font-weight: 700;
    font-size: 25px;
    margin: 0 20px 8px;
    padding-top: 10px;
    color: #F9F4F4;
    padding-bottom: 10px;
    border-bottom: 1px solid #838383;
    -webkit-transition: all .2s linear .1s;
    -moz-transition: all .2s linear .1s;
    -o-transition: all .2s linear .1s;
    transition: all .2s linear .1s;
}

/** DESTACADOS **/
.featured-main-container {
    background: #fff;
    margin-top: 30px;
}
.featured-main-content {
    border-top: 1px solid #DCDCDC !important;
    border-left: 1px solid #DCDCDC !important;
    border-right: 1px solid #DCDCDC !important;
    border-bottom: 5px solid #DCDCDC !important;
    padding-top: 15px;
}
.featured-image-container {
    padding-bottom: 5px;
    position: relative;
    & img{
        width: 100%;
        max-height: 422px;
    }
}

.featured-bigtitle{
    color: #333;
    font-weight: 600;
    margin-top: 5px;
    font-size: 40px;
}

.featured-mini {
    padding-bottom: 15px;
    & a {
        font-family: 'PT Sans Narrow', sans-serif;
        color: #333333;
        font-size: 20px;
        font-weight: 600;
        &:hover {
            color: #BABABA;
        }
    }
}
.featured-mini-titlebig {
    padding-top: 15px;
    & a{
        font-size: 30px !important;
    }
}
.featured-extra-news {
    margin-bottom: 10px;
    border-top: solid 1px #DCDCDC;
}
.featured-extra-block6 {
    border-left: 1px solid rgba(173, 173, 173, 0.35);
    margin-top: 10px;
    padding-top: 10px!important;
    padding-bottom: 15px !important;
    font-size: 25px;
    font-family: 'PT Sans Narrow';
    font-weight: 600;
}
.featured-extra-block3 {
    height: 125px;
    border-left: 1px solid rgba(173, 173, 173, 0.35);
    margin-top: 10px;
    padding-top: 10px!important;
    padding-bottom: 15px !important;
    font-size: 25px;
    font-family: 'PT Sans Narrow';
    font-weight: 600;
}
.featured-extra-block4 {
    height: 116px;
    border-left: 1px solid rgba(173, 173, 173, 0.35);
    margin-top: 10px;
    padding-top: 10px!important;
    padding-bottom: 15px !important;
    font-size: 25px;
    font-family: 'PT Sans Narrow';
    font-weight: 600;
}

.plus {
    color: #C70707 !important;
}

.img-content-tag {
    -webkit-font-smoothing: antialiased;
    background-position: 100%;
    background-repeat: no-repeat !important;
    background: rgba(0, 0, 0, 0.66) url(../images/icon-transparent.png);
    bottom: 2%;
    color: #FFF;
    font-family: 'PT Sans Narrow';
    font-size: 32px;
    font-weight: 700;
    height: 45px;
    left: 0px;
    padding-left: 60px;
    padding-right: 2%;
    position: absolute;
    text-transform: uppercase;
    width: auto;
}
.img-content-tag-small {
    position: absolute;
    width: 35px;
    height: 30px;
    background: rgba(0, 0, 0, 0.48);
    bottom: 5px;
    right: 0px;
    color: #FFF;
    font-size: 22px;
    padding-left: 7px;
}
.img-content-tag-small-right {
    position: absolute;
    width: 13%;
    height: 23px;
    background: rgba(0, 0, 0, 0.48);
    bottom: 0px;
    right: 0px;
    color: #FFF;
    font-size: 17px;
    padding-left: 4px;
}
.img-content-tag-small-five-cols {
    position: absolute;
    width: 8%;
    height: 30px;
    background: rgba(0, 0, 0, 0.48);
    bottom: 0px;
    right: 15px;
    color: #FFF;
    font-size: 22px;
    padding-left: 7px;
}
.img-ademas {
    margin-left: 100px;
    margin-top: 10px;
}
.img-ademas2 {
    margin-left: 70px;
    margin-top: 10px;
}

/** TITULO DE BLOQUE - SEPARADOR **/
.block-front-title {
    padding-bottom: 15px;
}
.separador-outside {
    border-bottom: 1px solid #000;
    margin-top: 2.3%;
}
.separador-inside {
    padding: 5px;
}
.separador-text {
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'PT Sans Narrow';
    letter-spacing: .5px;
}


/* 2.- HEADER */
#top-navbar-mobile-sticky-wrapper{
    display: none;
}
.icons-social-header {
    background-color: #FFF;
    width: 26px;
    height: 25px;
    color: #000;
    text-align: center;
    font-size: 19px;
    margin-right: -10px;
    border-radius: 100%;
    padding-top: 4px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    &:hover {
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        background-color: #000;
        color: #FFF;
    }
}
.top-navbar {
    display: block;
    color: #FFF;
    height: 70px;
    width: 100%;
    z-index: 99999;
}
.logo {
    float: left;
    margin-left: 0;
    height: 50px;
    margin-top: 15px;
}
.navs {
    height: auto;
    margin-left: -5px;
    & ul {
        padding: 0;
        margin: 0;
        & li {
            display: inline-block;
            height: 70px;
            list-style: none;
            margin: 0;
            & a {
                color: #FFF;
                display: inline-block;
                font-family: 'PT Sans Narrow',sans-serif;
                font-weight: 500;
                font-size: 22px;
                height: 70px;
                padding: 22px 11px 0;
                transition: background linear .3s;
                text-decoration: none;
            }
        }
    }
}

.navs-f {
    width: 55px;
}
.menu-menu-nav-container {
    float: right;
}
.twitter-container {
    margin-right: -130px;
    & a {
        color: #FFF;
        display: inline-block;
        font-family: 'PT Sans Narrow',sans-serif;
        font-weight: 100!important;
        font-size: 17px!important;
        font-style: italic;
        height: 70px;
        padding: 0 11px;
        padding-top: 25px!important;
        transition: background linear .3s;
        text-decoration: none;
    }
}

/**EFECTO TRANSPARENCIA**/
.opacity1 {
    background-color: rgba(0,0,0,1);
    -webkit-transition: all .5s linear-out;
    -moz-transition: all .5s linear-out;
    -o-transition: all .5s linear-out;
    transition: all .5s linear-out;
}
.opacity2 {
    background-color: rgba(0,0,0,.7);
    -webkit-transition: all .5s linear-out;
    -moz-transition: all .5s linear-out;
    -o-transition: all .5s linear-out;
    transition: all .5s linear-out;
}


/** MOBILE MENU **/
#top-navbar-mobile {
    width: 100%;
    z-index: 100;
}
.navbar-default {
    background-image: none!important;
    z-index: 1000;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    background-color: #000!important;
    border: 0;
    & .navbar-nav > li > a {
        font-family: 'PT Sans Narrow',sans-serif;
        font-size: 15px;
        color: #FFF;
        padding-top: 19px;
    }
}
.navbar {
    min-height: 70px;
    padding-top: 5px;
    margin-bottom: 0!important;
}
.navbar-logo {
    height: auto;
    padding-top: 0;
    margin-top: -7px;
}


/** FRANJA URGENTE **/
.urgent-text {
    background-color: #C70707;
    text-align: center;
    font-weight: 100;
    padding-bottom: 5px;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'PT Sans Narrow',sans-serif;
    & p {
        margin-bottom: 0px;
        color: #FFF;
        &::before {
            content: 'Ahora:';
            color: #000;
            font-weight: 600;
            margin-right: 5px;
            font-family: 'PT Sans Narrow',sans-serif;
        }
    }
    & a {
        color: #FFF;
        &::before {
            content: 'Ahora:';
            color: #000;
            font-weight: 600;
            font-family: 'PT Sans Narrow',sans-serif;
        }
        &:hover {
            color: #0A0A0A;
        }
    }
}
/** BARRA DE TAGS EN HEADER **/
.menu-menu-tags-container {
    background-color: #adadad;
    height: 28px;
    text-align: center;
    line-height: 26px;
    & ul{
        &::before {
            content: 'Pendientes de:';
            text-transform: none;
            font-family: 'PT Sans Narrow',sans-serif;
            font-size: 16px;
        }
    }
}
.menu-menu-tags {
    font-size: 16px;
    font-family: 'PT Sans Narrow','Sans Serif';
    color: #000;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;

    & a {
        font-weight: 600;
        color: #000;
        margin-left: 5px;
        padding-right: 5px;
    }
}


/* 3.- FOOTER */

.footer {
    background: #000;
    color: #FFF;
    font-family: 'PT Sans Narrow',sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-link {
    color: #919090;
}
/** PRIMER NIVEL FOOTER **/
.footer-fl {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    border-bottom: 1px solid #060606;
    box-shadow: 0 1px 0 #181818;
    margin-bottom: 10px;
    &  h2 {
        margin-top: 0;
        margin-bottom: 5px;
        font-family: 'PT Sans Narrow',"Sans Serif";
        font-weight: 100;
        font-size: 25px;
        font-style: italic;
        color: #B2AFAF;
    }
}
.logo-footer {
    & img {
        width: 50%;
    }
}
.footer-inline {
    margin-top: 8px;
}
form .search {
    width: 90%;
    float: left;
    height: 32px;
    padding-left: 10px;
    font-size: 12px;
    color: #000;
    background: #f5f5f5;
    border: 1px solid #dfdfdf;
}
form button {
    border: none;
    border-radius: 0;
    height: 32px;
    width: 32px;
    background: url(../images/lupa.png) center no-repeat #303030;
    color: #fff;
}

/* GO TOP BUTTON */
.goto-top-btn {
    position: relative;
    cursor: pointer;
    & a {
        color: #666;
        text-decoration: none;
    }
    & span {
        display: block;
        position: absolute;
        top: 18px;
        margin-left: 5px;
    }
}
.gototop {
    background: url(../images/gototop.png) center top no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
}

/** FOOTER SEGUNDA LINEA **/
.footer-sl {
    font-size: 14px;
    color: #F7F7F7;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #060606;
    box-shadow: 0 1px 0 #181818;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
}

/** FOOTER TERCERA LINEA - COPYRIGHT **/

.footer-copy {
    & p {
        margin: 0;
        font-size: 13px;
    }
    & .divider {
        display: inline-block;
        width: 1px;
        margin-left: 4px;
        margin-right: 7px;
    }
    & .mainmail {
        color: #C70707;
        font-weight: 700;
    }
}
/* 4.- SINGLE */
.single-parallax {
    position: relative;
    height: 400px;
    background-attachment: fixed!important;
    background-position: top center!important;
    margin-bottom: 15px;
    box-shadow: 0 1px 5px black;
}
.single-parallax-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.73);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
    font-size: 15px;
}
.single-title {
    font-family: 'PT Sans Narrow',sans-serif;
    & h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        padding-bottom: 5px;
        margin-top: 0;
        margin-bottom: 5px;
    }
}
.single-excerpt p {
    font-size: 22px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
}
.single-img {
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-bottom: 3px solid #DFDFDF;
    padding: 15px;
    width: 100%;
    & img {
        width: 100%;
        height: auto;
        padding-bottom: 5px;
    }
}
.single-img-text {
    font-size: 11px;
    font-weight: 700;
    color: #7C7C7C;
}
.author-text {
    text-align: right;
    margin-top: 19px;
    font-size: 14px;
    font-style: italic;
}
.meta-block {
    margin-left: 10px;
}
.addthis_sharing_toolbox {
    margin-top: 15px;
}
.single-info {
    padding-top: 15px;
    text-align: justify;
    line-height: 28px;
    font-size: 18px;
}
hr {
    margin-top: 0;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #D8D3D3;
}

.category-box {
    margin-bottom: 10px;
    background-color: #FFF;
    padding: 10px;
    border-right: solid 5px #AFAFAF;
    border-left: solid 5px #AFAFAF;
    & a {
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 7px;
        color: #838282;
        font-weight:400;
    }

}

/* 5.- ARCHIVE */
/* STRUCTURE */
.contenido {
    margin-bottom: 15px;
    margin-right: 20px;
}
.news-section1 {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(173,173,173,.7);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    padding-bottom: 15px;
    position: relative;
}
.img-section1 {
    overflow: hidden;
    max-height: 210px;
    & img {
        width: 100%!important;
    }
}
.info-section1 h1 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
}
.title-section1 {
    & h1 {
        font-family: 'PT Sans Narrow',sans-serif;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0;
        color: #343131;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
}
.time-section1 {
    padding-bottom: 8px;
    font-size: 14px;
    font-family: 'PT Sans Narrow',Sans-Serif;
}
.content-section1{
    font-family: 'PT Sans Narrow',sans-serif;
}
.img-content-tag-small-cat {
    position: absolute;
    width: 11.5%;
    height: 30px;
    background: rgba(0, 0, 0, 0.48);
    bottom: 0px;
    right: 15px;
    color: #FFF;
    font-size: 22px;
    padding-left: 7px;
}

/** ARCHIVE FOTOS **/
.main-content-fotos {
    padding-top: 25px;
    min-height: 520px;
}
/** BACKUP AJAX CAMBIO 14-05-2015 **/
/*.archive-fotos-container {
position: relative;
padding-left: 0;
padding-right: 0;
padding-bottom: 15px;
max-height: 75vh;
margin-bottom: 15px;
overflow: hidden;
&:hover .archive-fotos-title {
bottom: 50px;
-webkit-transition: all linear .3s;
-moz-transition: all linear .3s;
-o-transition: all linear .3s;
transition: all linear .3s;
}
}*/

.archive-fotos-container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
    max-height: 315px;
    margin-bottom: 15px;
    overflow: hidden;
    &:hover .archive-fotos-title {
        bottom: 50px;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -o-transition: all linear .3s;
        transition: all linear .3s;
    }
}
.archive-fotos-title {
    position: absolute;
    bottom: 25px;
    padding: 8px 8px 5px 5px;
    max-width: 80%;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    & h1 {
        font-weight: 700;
        font-size: 35px;
        display: inherit;
        line-height: 55px;
        background-color: rgba(0,0,0,.79);
        color: #FFF;
        font-family: 'PT Sans Narrow','Sans Serif';
    }
}

/* 6.- FEATURED SECTIONS */
.avatar {
    border-radius: 100%;
    height: auto;
    margin-top: 10px;
    width: 110px;
}
.media-img-front {
    border-radius: 100%;
    border: 1px solid rgba(168,168,168,.74);
    height: 110px;
    margin-top: 10px;
    width: 110px;
}

.owl-controls {height: 0;}

.owl-buttons div {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: #000!important;
    border-radius: 0!important;
    color: #FFF;
    display: inline-block;
    filter: Alpha(Opacity=50);
    font-size: 12px;
    margin: 3px;
    opacity: .7;
    padding: 3px 10px;
    zoom: 1;
}

.owl-prev {
    bottom: 0;
    position: absolute;
    right: 40px;
}

.owl-next {
    bottom: 0;
    position: absolute;
    right: 0;
}

/** VOCES SUMARIUM **/
.featured-opinions-title {
    background-image: url(../images/icon.png);
    background-color: #000;
    color: #FFF;
    background-position: 100% 3px;
    padding-left: 15px;
    height: 50px;
    background-repeat: no-repeat;
    & h3 {
        padding-top: 11px;
        margin-top: 0;
    }
}
.featured-opinions-title2 {
    background-color: #C70707;
    color: #FFF;
    font-size: 25px;
    text-align: center;
    padding-top: 3px;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow';
    font-weight: 700;
    height: 27px;
    line-height: 22px;
}
.featured-opinions-content {
    border-bottom: 1px solid rgba(137,137,137,.58);
    padding-bottom: 5px;
    margin-bottom: 15px;
    & .media {
        border-bottom: 0;
        padding-bottom: 5px;
        padding-left: 3px;
        margin-bottom: 5px;
        & .media-body {
            font-size: 14px;
            & .media-heading {
                background-color: transparent!important;
                padding-bottom: 2px;
                padding-left: 0;
                padding-top: 10px;
                font-size: 20px;
                border-left: 0!important;
            }
        }
    }
}

/** FEATURED PICS **/
.featured-pics-title {
    background-image: url(../images/icon.png);
    background-color: #000;
    color: #FFF;
    background-position: 100% 3px;
    height: 50px;
    padding-left: 15px;
    background-repeat: no-repeat;
    padding-top: 4px;
    & h2 {
        margin-top: 9px;
        margin-bottom: 9px;
        font-size: 23px;
    }
}
.featured-pics-title2 {
    background-color: #C70707;
    color: #FFF;
    font-size: 25px;
    text-align: center;
    padding-top: 0;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow';
    font-weight: 700;
    height: 27px;
    line-height: 26px;
    & a{
        color: #FFF;
    }
}
.featured-pic-item {
    height: 160px;
    overflow: hidden;
    & img {
        position: absolute;
        height: auto;
        width: 300px;
        left: -25%;
    }
}


/* 11.- SIDEBAR PARTS  */
/** ESTRUCTURAS **/
.ads-single {
    margin-bottom: 15px;
}
.panel-heading {
    padding: 0;
    -webkit-transition: all .2s linear .3s;
    -moz-transition: all .2s linear .3s;
    -o-transition: all .2s linear .3s;
    transition: all .2s linear .3s;
    & h4 {
        font-size: 23px;
        font-weight: 600;
        cursor: pointer;
        & a {
            color: #212121;
            &:hover {
                text-decoration: none!important;
                color: #A8A8A8;
            }
        }
    }
}
.panel-div-special {
    border-bottom: 1px solid #d2cccc;
    -webkit-transition: all .2s linear .3s;
    -moz-transition: all .2s linear .3s;
    -o-transition: all .2s linear .3s;
    transition: all .2s linear .3s;
}
.panel-number {
    font-size: 35px!important;
    margin-top: 20px;
    color: #5C5C5C;
}

/** MINI TEMA **/
.sidebar-ministories-container {
    width: 359px;
    height: auto;
    background-size: cover;
    padding: 30px 15px;
    position: relative;
    z-index: 0;
}
.sidebar-ministories-content-mask {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
    float: left;
    left: 0;
    top: 0;
    display: block;
    background-color: rgba(0,0,0,.49);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.sidebar-ministories-title h2 {
    z-index: 10;
    display: initial;
    background-color: #C70707;
    font-style: italic;
    color: #F5F5F5;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 10px;
}

.sidebar-ministories-content {
    & h3 {
        z-index: 10;
        font-weight: 600;
        padding-bottom: 10px;
        margin-bottom: 5px;
        font-size: 24px;
        border-bottom: 1px solid rgba(183,183,183,.53);
        & :first-child {
            font-size: 35px;
        }
        &:last-child {
            border-bottom: 0;
        }
        &  a {
            color: #FFF;
            &:hover {
                color: #bababa;
            }
        }
    }
}

/** MAS RECIENTES **/

.sidebar-mostrecent-container {
    width: 359px;
}
.sidebar-mostrecent-bigtitle {
    background-image: url(../images/icon.png);
    background-color: #000;
    background-position: 100% 0;
    padding: 11px 25px 10px 15px;
    background-repeat: no-repeat;
    & h3 {
        margin: 0;
        color: #e8e8e8;
        font-weight: 600;
    }
}
.sidebar-mostrecent-title {
    background-color: #C70707;
    color: #FFF;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 3px;
    & h2 {
        font-weight: 600;
        font-size: 24px;
        margin: 0;
    }
}
.sidebar-mostrecent-content {
    padding-left: 15px;
    padding-right: 15px;
}

/** MAS LEIDOS **/
.sidebar-mostviewed-container {
    width: 359px;
}
.sidebar-mostviewed-bigtitle {
    background-image: url(../images/icon.png);
    background-color: #000;
    background-position: 314px 0;
    padding: 11px 25px 10px 15px;
    background-repeat: no-repeat;
    & h3 {
        margin: 0;
        color: #e8e8e8;
        font-weight: 600;
    }
}
.sidebar-mostviewed-title {
    background-color: #C70707;
    color: #FFF;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 3px;
    & h2 {
        font-weight: 600;
        font-size: 24px;
        margin: 0;
    }
}
.sidebar-mostviewed-content {
    padding-left: 15px;
    padding-right: 15px;
}


/** EDITOR'S PICK **/
.sidebar-editorspick-container {
    width: 359px;
}
.sidebar-editorspick-bigtitle {
    background-image: url(../images/icon.png);
    background-color: #000;
    background-position: 314px 0;
    padding: 11px 25px 10px 15px;
    background-repeat: no-repeat;
    & h3 {
        margin: 0;
        color: #e8e8e8;
        font-weight: 600;
    }
}
.sidebar-editorspick-title {
    background-color: #c70808;
    color: #FFF;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 3px;
    & h2 {
        font-weight: 600;
        font-size: 24px;
        margin: 0;
    }
}
.sidebar-editorspick-content {
    padding-left: 15px;
    padding-right: 15px;
}
.panel-heading-editorspick {
    border-bottom: 1px solid #D2CCCC;
    & h4 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* 8.- TAGS TEMPLATE PART */
.btn-danger {
    color: #fff;
    background-color: #C70707;
    border-color: #C70707;
}
#tags-bar2 {
    position: fixed;
    top: 70px;
    z-index: 99999;
}
.bar-xs-tap {
    display: none;
    position: fixed;
    width: 5px;
    top: 70px;
    height: 100vh;
    background-color: rgb(199, 7, 7);
    z-index: 999;
}
.bar-xs-tap-2 {
    position: fixed;
    width: 5px;
    top: 70px;
    right: 0px;
    height: 100vh;
    background-color: #c70707;
    z-index: 999;
}
.button-xs-tap-2 {
    position: fixed;
    top: 50%;
    right: -30px;
    transform: rotate(270deg);
}
.tags-mini-container2 {
    display: none !important;
}
.button-xs-tap {
    transform: rotate(-90deg);
    position: fixed;
    left: -35px;
    top: 50%;
    z-index: 9999;
}
.sidebar-nav { padding-top: 2px; }

.activo {color: #ABABAB !important;}

#tag_frame {max-width: 1140px;}

.title-tag-container {
    background: #868686;
    color: #FFF;
    font-family: 'PT Sans Narrow','Sans Serif';
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

.tags-main-container, .tags-main-container .is-sticky .sidebar-related-container2 {width: 16.5%;}

.tags-main-container {background: #000;}

.tags-main-container, .tags-mini-container {
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.tags-section-title2 {
    & h3 {
        font-size: 22px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }
}

.contenido-tags {margin-bottom: 15px;}

/** TAG SIDEBAR **/
.sidebar-nav-chevron{
    & a{
        color: #FFF;
        &:hover {
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
            text-decoration: none !important;
            color: #A8A8A8;
        }
    }

}
.sidebar-related-bigtitle2 {
    background-color: #000;
    background-image: url(../images/icon.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFF;
    height: 45px;
    padding: 11px 25px 10px 15px;
    &  .sidebar-related-bigtitle2 h3 {
        color: #e8e8e8;
        font-weight: 600;
        margin: 0;
    }
}

.sidebar-related-title2 {
    background-color: #C70707;
    color: #FFF;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 3px;
    & h2 {
        font-weight: 600;
        font-size: 21px;
        margin: 0;
    }
}
.sidebar-related-content2 {
    padding-left: 10px;
    padding-right: 5px;
    height: 82vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu-tag-button{
    cursor: pointer;
}
.related-content2 {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #696969;
    color: #000;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    & h4 {
        font-size: 20px;
        font-weight: 500;
        color: #FFF;
    }
}

.tags-mini-container .sidebar-related-content2 {display: none;}

.tags-mini-container .is-sticky .sidebar-related-container2 {width: 8.33333333%;}

.sidebar-opinion-content .media:first-child {margin-top: 5px !important;}

.sidebar-opinion-content .media {
    border-bottom: 1px solid #C3C3C3;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    & .media-left {
        padding-left: 12px;
        & .media-object {
            border-radius: 100%;
            height: auto;
            margin-top: 20%;
            width: 70px;
        }
    }
    & .media-body {
        font-size: 13px;
        padding-left: 12px;
        & .media-heading {
            background-color: transparent !important;
            border-left: 0px !important;
            font-size: 18px;
            font-weight: 700;
            padding-left: 0px;
        }
    }
}

/* 9.- SINGLE ELEMENTS */

/* MARCO BBC */
.bbc-bar {
    background-color: rgb(204, 1, 1);
    padding-bottom: 3px;
    margin-bottom: 15px;
}

/* MARCO BBC */
.bbc-bar2 {
    background-color: rgb(204, 1, 1);
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.bbc-bar3 {
    float: left;
    padding-right: 10px;
    margin-top: -5px;
}

.su-note {
    max-width: 315px !important;
    display: block;
    clear: both;
    font-size: 16.5px;
}

/* NUEVO MARCO IMAGEN */




.img-frame {
    float: left;
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-bottom: 3px solid #DFDFDF;
    padding: 15px 15px 0;
    height: auto;
    margin-right: 15px;
    margin-bottom: 20px;
    & img{
        max-width: 1135px;
        width: 100%;
    }
}
.caption-frame {
    font-size: 11px;
    font-weight: 700;
    color: #7C7C7C;
    & p{
        margin-bottom: 0px;
    }
}

/* MEDIA HANDLING */
.media {
    border-bottom: 1px solid #C3C3C3;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-left {padding-right: 20px;}

.media-right {padding-left: 15px;}

.media-object {
    border-radius: 100%;
    height: auto;
    margin-top: 0%;
    width: 150px;
}

.media-heading {
    background-color: transparent !important;
    border-left: 0px !important;
    font-size: 30px;
    padding: 10px;
}

.media-body {
    font-family: 'PT Sans Narrow', 'Sans-Serif';
    font-size: 15px;
}

.media-img-editorial {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.20);
    height: 115px;
    width: 115px;
}
hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #D8D3D3;
}

.posted-img img {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.wp-caption-text {
    font-size: 11px;
    font-weight: 700;
    color: #7C7C7C;
}

.storify {
    width: 100%;
    margin-left: 10%;
}

.menu-menu-tags-container ul::before {
    content: 'Pendientes de:';
    text-transform: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

.su-quote-style-default {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em 3em;
    font-style: italic;
}

.su-quote-style-default:before, .su-quote-style-default:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/quote.png') !important;
    content: '';
}

.su-quote-style-default:before {
    top: 0;
    left: 0;
    background-position: 0 0;
}

.su-quote-style-default:after {
    right: 0;
    bottom: 0;
    background-position: -20px 0;
}

.su-quote-inner {
    margin-left: 13%;
    font-size: 23px;
    width: 66%;
    line-height: 40px;
    font-weight: 600;
    color: #4a4a4a;
}

.su-pullquote {
    width: 270px;
    border-left: 4px solid #7C7C7C;
    padding: 15px;
    margin-left: 20px;
    font-weight: 600;
    color: #454545;
    background-color: #FFF;
    font-size: 20px;
    line-height: 26px;
}

.su-responsive-media-yes {
    position: relative;
    padding-bottom: 33%;
    height: 0;
    overflow: hidden;
}

pre {
    display: block;
    padding: 16.5px;
    margin: 0 0 10px;
    font-size: 25px;
    text-align: center;
    line-height: 1.42857143;
    color: #333;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    word-break: normal;
    word-wrap: normal;
    background-color: #FFFFFF;
    white-space: normal;
    border-left: 0px;
    border-right: 0px;
    border-top: 3px double #ccc;
    border-bottom: 3px double #ccc;
}
.iframe-bs {
    background-color: #fff;
    border-bottom: 3px solid #DFDFDF;
    border: 1px solid #DFDFDF;
    color: #7C7C7C;
    float: left;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding: 10px;
    & p {
        margin: 0px !important;
    }
}
.alinearizq {
    margin-left: 10px;
    & .iframe-bs {
        margin-right: 0px;
    }
    & .img-frame {
        margin-right: 0px;
    }
}

.alinearder {
    float: left;
    margin-right: 10px;
}

.centrado {

}

.columna2 .wp-caption {width: 100% !important;}

.columna3 .wp-caption {width: 100% !important;}

.author-text {
    font-size: 14px;
    font-style: italic;
    margin-top: 19px;
    text-align: right;
    & strong {
        color: #777777 !important;
        font-weight: 600;
    }
    & a {
        color: #777777 !important;
        font-weight: 600;
    }
}

.addthis_sharing_toolbox {margin-top: 15px;}

.caret-custom {
    background: url(../images/t2.png);
    float: left;
    height: 16px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 3px;
    width: 9px;
}

.single-info aside {
    background-color: #000;
    color: #FDFDFD;
    float: left;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 20px;
    padding: 35px;
    text-align: center;
    width: 250px;
}

.asideleft {margin-right: 20px;}

.asideright {
    float: right!important;
    margin-left: 20px;
}

.single-info h2 {font-size: 33px;}

.single-info h1, .single-info h2, .single-info h3, .single-info h4, .single-info h5, .single-info h6 {
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-weight: 600;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 10px;
}
.single-info a {
    font-weight: 700;
    color: #848282;
    &:hover{
        color: #1d1d1d;
    }
}
.wp-caption {
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-bottom: 3px solid #DFDFDF;
    padding: 15px 15px 0;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    & img {
        width: 100%;
        padding-bottom: 5px;
    }
}
.wp-caption-text {
    font-size: 11px;
    font-weight: 700;
    color: #7C7C7C;
}




/* 10.- SOMOS SUMARIUM PAGE */
.sumarium-section1 {
    background-attachment: fixed;
    background-position: center 0px;
    background-size: cover;
    background: url(../images/fondo-css2.jpg);
    color: #FFF;
    font-family: 'PT Sans Narrow', 'sans-serif';
    height: 500px;
    position: relative;
    overflow: hidden;
    & h1 {z-index: 10;}

}

.sumarium-section1-mask {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.sumarium-section1-logo {
    margin-top: 11%;
    & #logo-1 {
        background-color: rgba(0, 0, 0, 0.19);
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 99;
        padding-top: 5px;
        position: absolute;
    }
}

.slogan {
    background-color: rgba(0, 0, 0, 0.32);
    bottom: 0px;
    display: initial;
    font-weight: 600;
    left: 29%;
    padding: 5px;
    position: absolute;
    z-index: 20;
}

.sumarium-section2 {
    background: #FFF;
    color: #000;
    font-family: 'PT Sans Narrow', 'sans-serif';
    font-size: 18px;
    min-height: 300px;
    padding-bottom: 15px;
    padding-top: 10px;
    & a {
        color: #6C6C6C;
        font-weight: 700;
    }
}

.sumarium-section3 {
    background: #F4F4F4;
    color: #1A1A1A;
    font-family: 'PT Sans Narrow', 'sans-serif';
    font-size: 18px;
    min-height: 300px;
    padding-bottom: 15px;
    padding-top: 10px;
    &  a {
        color: #6C6C6C;
        font-weight: 700;
    }
}

.sumarium-section4 {
    color: #000;
    font-family: 'PT Sans Narrow', 'sans-serif';
    font-size: 18px;
    position: relative;
    & a {
        color: #6C6C6C;
        font-weight: 700;
    }
}
.sumarium-section4-mask {
    background: rgba(31, 31, 31, 0.55);
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
}

.sumarium-section5 {
    color: #000;
    font-family: 'PT Sans Narrow', 'sans-serif';
    font-size: 18px;
    min-height: 300px;
    padding-bottom: 15px;
    & a {
        color: #6C6C6C;
        font-weight: 700;
    }
}

.info-editor {
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: justify;
    & h2 {
        color: #000 !important;
        font-weight: 700;
        padding: 4px;
    }
}

.img-editor {
    border-radius: 100%;
    border: 2px solid #f4f4f4;
    margin-top: 5%;
    max-height: 230px;
}


/* 11.- OPINION PAGE */
.opinion-section-title {
    background-position: 100% -1px;
    background: #000 url(../images/icon.png) no-repeat;
    color: #FFF;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-top: 5px;
    & h1 {font-size: 27px;}

}


.opinion-section-subtitle {
    background-color: #C70707;
    height: 30px;
    margin-bottom: 10px;
}

.img-section-opinion .avatar {
    border-radius: 100%;
    height: auto;
    margin-top: 0px;
    width: 190px;
}

.title-separador {border-top: 1px solid #c70707;}

.featured-img-section-opinion .avatar {
    border-radius: 100%;
    height: auto;
    margin-left: 25%;
    margin-top: 12px;
    width: 134px;
}

.featured-info-section .title-section1 {color: #000 !important;}

.featured-content-section1 {
    font-family: 'PT Sans Narrow', 'Sans Serif';
    font-size: 18px;
}

.sidebar-featured-opinions-container {
    background-size: cover;
    background: url(../images/fondo-css.jpg);
    height: auto;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    position: relative;
    width: 359px;
    z-index: 0;
}

.sidebar-featured-opinions-content-mask {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.70);
    display: block;
    float: left;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: all 0.2s linear;
    width: 100%;
    z-index: -1;
}

.sidebar-featured-opinions-title h2 {
    background-color: #C70707;
    color: #F5F5F5;
    display: initial;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 10px;
    z-index: 10;
}

.sidebar-featured-opinions-content h3 {
    border-bottom: 1px solid rgba(183, 183, 183, 0.53);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 18px;
    z-index: 10;
}

.sidebar-featured-opinions-container:hover .sidebar-featured-opinions-content-mask {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.60);
    transition: all 0.2s linear;
}

.sidebar-featured-opinions-content h3 a:hover {color: rgb(186, 186, 186);}

.sidebar-featured-opinions-content h3:first-child {font-size: 25px;}

.sidebar-featured-opinions-content h3:last-child {border-bottom: 0px;}

.sidebar-featured-opinions-content h3 a {color: #FFF;}

.article-opinion-title {
    background-color: #c70707;
    color: #FFF;
    display: inline-block;
    font-family: 'PT Sans Narrow', Sans-serif;
    font-size: 25px;
    font-style: italic;
    padding-bottom: 0px;
    padding-right: 7px;
    padding: 3px;
    width: auto;
}

.breve-editorial-section {
    margin-top: 10px;
    max-height: 370px;
    min-height: 370px;
}

.confidencias-section {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    border-bottom: 1px solid rgba(173, 173, 173, 0.7);
    margin-top: 15px;
    padding-bottom: 15px;
    transition: all 0.2s linear;
}

.breve-editorial-container {
    border-bottom: 1px solid rgba(173, 173, 173, 0.7);
    margin-bottom: 15px;
}

.media-img {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.74);
    height: 90px;
    width: 90px;
}

.sidebar-calendar-container {
    margin-top: 10px;
    width: 359px;
}

.sidebar-calendar-bigtitle {
    background-color: black;
    background-image: url(../images/icon.png);
    background-position: 100% 0px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 11px;
    & h3 {
        color: rgb(232, 232, 232);
        font-weight: 600;
        margin: 0;
    }
}



.ui-datepicker {
    background-color: #FFF;
    display: none;
    padding: 0px;
    width: 100%;
    & .ui-datepicker-header {
        background-color: rgb(199, 7, 7);
        color: #FFF;
        font-family: 'PT Sans Narrow', Sans-serif;
        font-weight: 700;
        padding: 0px;
        position: relative;
        text-transform: uppercase;
    }
    & table {
        font-family: 'PT Sans Narrow', Sans-serif;
        & thead {border-bottom: 1px solid #C3C3C3;}
    }
    & td a {
        color: #030303;
        font-weight: 900;
    }
}

.ui-datepicker-current-day a {color: #C70707 !important;}

.ui-datepicker-today a {
    color: #C70707 !important;
    font-size: 15px;
}

.info-section2 h1 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 0px;
}

.single-avatar {
    margin-top: -10px;
    width: 12%;
}



.img-opinion {
    & img {
        margin-left: 63px;
    }
}
.text-opinion{
    & h5{
        font-size: 17px;
        text-align: center;
    }
    & h6 {
        font-size: 20px;
        text-align: center;
    }
}

/**LIVEBLOG */
#status_bar {
    background-color: #000000 !important;
}

#24lb_list{
    font-family: 'PT Sans Narrow', Sans-serif;
    font-size: 21px !important;
}

#24btnDesc {
    background-color: #C70707 !important;
}

.blogdiv img {
    border: 10px solid rgb(232, 232, 232);
}

.comment {
    font-family: 'PT Sans Narrow', Sans-serif;
    font-weight: 600;
}



.author-photo {
    text-align: right;
    & img {
        border: 1px solid rgb(221, 221, 221);
        width: 180px !important;
    }
}



/* NEWS STYLES */
.resaltado {
    color: #000;
    font-style: italic;
    & h1, h2, h3, h4, h5, h6{
        background-color: yellow;
        display: inline-flex;
        padding: 2px;
        padding-right: 5px;
    }
}

.granate {
    color: #C60807;
    font-style: italic;
    text-shadow: 0px 1px 0px black;
    & h1, h2, h3, h4, h5, h6{
        color: #C60807;
        font-style: italic;
        text-shadow: 0px 1px 0px black;
    }
}





/** EMBED INFOGRAFIA **/
.embed-infografia {
    width: 85%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    & iframe{
        width: 100% !important;
        height: 100% !important;
    }
}



/** WPP POPULAR POSTS */
.wpp-list {
    padding-left: 0px;
    & li {
        position: relative;
        font-weight: 900;
        font-family: 'PT Sans Narrow', 'Sans-Serif';
        font-size: 23px;
        line-height: 27px;
        padding-top: 10px;
        padding-left: 50px;
        padding-bottom: 10px;
        border-bottom: 1px solid #D2D2D2;
    }
    & li:before{
        font-size: 40px;
        position: absolute;
        left: 8px;
        top: 30%;
    }
    & li:nth-child(1):before{ content: '1'; }
    & li:nth-child(2):before{ content: '2'; }
    & li:nth-child(3):before{ content: '3'; }
    & li:nth-child(4):before{ content: '4'; }
    & li:nth-child(5):before{ content: '5'; }
    & li:nth-child(6):before{ content: '6'; }
    & li:nth-child(7):before{ content: '7'; }
    & li:nth-child(8):before{ content: '8'; }
    & li:nth-child(9):before{ content: '9'; }
    & li:nth-child(10):before{ content: '10'; left: -2px; }
}
