@media (max-width: 2090px) {
    .main-content {
        min-height: 905px;
    }
}
@media (min-width: 1500px ) {
    .single-parallax {
        background-size: contain !important;
    }
}
@media (max-width: 1365px) {
    .wp-caption {
        max-width: 1030px !important;
    }
}
@media (max-width: 1280px) {
    .navs ul li a {
        font-size: 17px;
        padding-top: 26px;
        padding: 25px 11px;
    }
    .twitter-container a {
        color: #FFFFFF;
        display: inline-block;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 14px !important;
        font-style: italic;
        font-weight: 100 !important;
        height: 70px;
        padding-top: 27px !important;
        padding: 0px 11px;
        text-decoration: none;
        transition: background ease 0.3s;
    }
    .five-cols-front-item .item-hover {width: 94%;}
    .content-wrapper {left: 22px;}
    .img-frame img {width: 100% !important; height: auto;}
}
@media (max-width: 1200px) {
    .featured-mini a {
        font-size: 17px;
    }
    .featured-bigtitle {
        margin-top: 0px;
    }
    iframe {max-width: 890px;}
    .wp-caption {width: auto !important;}
    .wp-caption img {
        height: auto !important;
        width: 100%;
    }
    .block-item {height: auto;}
    .five-cols-item-title {
        font-size: 28px;
        line-height: 40px;
    }
    .sidebar-mostrecent-container {width: 111%;}
    .panel-heading h4 {font-size: 20px;}
    .sidebar-mostrecent-title h2 {font-size: 18px;}
    .sidebar-mostviewed-container {width: 111%;}
    .sidebar-mostviewed-title h2 {font-size: 18px;}
    .featured-opinions-content .media .media-body .media-heading {font-size: 15px;}
    .noti a {font-size: 15px;}
    .img-section-tb {
        margin-bottom: 7px;
        min-height: 120px;
    }
    .img-section-tb img {height: 120px;}
    .destacado-bigtitle {font-size: 34px;}
    .sumarium-section1 h1 {left: 16.5%;}
    .tag-news-title2{padding-left: 2px;}
    .related-content2 h4 { font-size: 15px; font-weight: 700;}

}

@media (max-width: 1024px){
    .sidebar-ministories-container {
        width: 100%;
    }
}

/* PUNTO DE QUIEBRE PARA MOVILES */

@media (max-width: 991px) {
    .centrado {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .img-frame { width: 100% !important;}
    .featured-article-1 {padding-right: 0px;}
    .featured-article-2 {padding-left: 0px;}
    .featured-extra-block4 {height: auto !important;}
    .featured-mini1 {padding-left: 0px;}
    .img-ademas {
        margin-left: 50px;
        margin-top: 50px;
    }
    .featured-logo {margin-top: -30px;}
    .navbar-header {float: none;}
    .navbar-toggle {display: block;}
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        float: left !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: transparent;}
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {
        float: left!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {float: none;}
    .navbar-nav>li>a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {display: block!important;}
    .collapsing {overflow: hidden!important;}
    .sumarium-section1 h1 {left: 0px;}
    .bigtitle-dest-1 {font-size: 25px;}
    .img-content-tag {
        bottom: 11%;
        padding-right: 12%;
    }
    .img-content-tag-small {bottom: 10px;}
    .meta-block {display: block;}
    #top-navbar-sticky-wrapper {
        display: none;
        height: 0px !important;
    }
    #top-navbar-mobile-sticky-wrapper {
        display: block;
        height: 70px !important;
    }
    .logo-footer {padding-bottom: 25px;}
    .footer ul li a {
        font-size: 12px;
        padding: 0px 5px;
    }
    .footer-nav .twitter-container a {
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 12px !important;
        margin-top: 3px;
        padding: 0px 10px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .footer-copy p:first-child {font-size: 10px;}
    .footer-copy p:last-child {
        font-size: 9px;
        margin-top: 5px;
    }
    .alinearder {width: 50%;}
    .alinearder {width: 50%;}
    .alinearder .wp-caption {width: 100% !important;}
    .columna2 {
        float: left;
        width: 50%;
    }
    .columna3 {
        float: left;
        width: 33%;
    }
    .single-info {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .author-text {
        font-size: 12px;
        font-style: italic;
        margin-top: 15px;
        text-align: right;
    }
    .block-text {font-size: 13px;}
    .five-cols-item-title {
        font-size: 23px;
        line-height: 32px;
    }
    .five-cols-item-author {font-size: 16px;}
    .three-cols-item-title {font-size: 19px;}
    .panel-heading h4 {font-size: 15px;}
    .sidebar-mostrecent-container {width: 116%;}
    .sidebar-mostview-container {width: 116%;}
    .panel-number {font-size: 25px !important;}
    .img-content-tag-small-five-cols {width: 8%;}
    .featured-pic-frame img {
        height: 100%;
        margin-left: -70px;
        width: 100%;
    }
    .destacado-bigtitle {font-size: 25px;}
    .noti:first-child {padding-left: 0px;}
    .notibig a {font-size: 20px !important;}
    .noti4 {height: auto;}
    .menu-menu-tags-container {height: auto;}
    .padding-xs {
        padding-left: 5px;
        padding-right: 5px;
    }
    .ads-single {
        margin-bottom: 10px;
        padding-left: 0px;
    }
    .img-ademas2 {
        margin-left: 15%;
        margin-top: 7%;
    }
    .featured-pic-item img {left: -50%;}
    .sidebar-featured-category-content h3:first-child {font-size: 25px;}
    .sidebar-featured-category-content h3 {font-size: 18px;}
    .footer-link {
        font-size: 18px;
        text-align: center;
    }
    .archive-fotos-title h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .archive-fotos-container {max-height: 232px;}
    .tags-main-container .is-sticky .sidebar-related-container2 {width: 20%;}
    .tags-main-container {width: 20%;}
    .sidebar-related-title2 h2 {
        font-size: 19px;
        margin: 2px;
    }
    .tag-news-title2 {padding-left: 0px;}
    .related-content2 h4 {
        color: #FFF;
        font-size: 15px;
        font-weight: 600;
    }
    .single-title {
        font-size: 35px;
        line-height: 40px;
    }
    .opinion-title-h2 {
        font-size: 30px;
        margin-top: 30px;
    }
    .featured-logo {
        margin-top: -0.5%;
    }
    .logo-footer img {
        width: 90%;
    }
}
@media (max-width: 900px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 21px;
        color: #FFF;
        padding-top: 19px;
    }
}
@media (max-width: 800px) {
    .navbar-default .navbar-nav>li>a {
        color: #FFF;
        font-size: 10px;
        padding-top: 19px;
    }
    .separador-text {font-size: 11px;}
    .block-text {font-size: 11px;}
    .sidebar-mostrecent-title h2 {font-size: 15px;}
    .sidebar-mostrecent-bigtitle h3 {font-size: 15px;}
    .sidebar-mostview-bigtitle h3 {font-size: 15px;}
    .panel-number {font-size: 20px !important;}
    .panel-mostviewed-news {width: 75.333333%;}
}
@media (max-width: 768px) {
    .bar-xs-tap{
        display: block;
    }
    #top-navbar-mobile-sticky-wrapper{
        display: block;
    }
    .main-content {
        min-height: auto;
    }
    .sidebar-ministories-container {
        width: 100%;
    }
    .five-cols-item-title {
        font-size: 29px;
        line-height: 40px;
    }
    .ads-single {
        margin-bottom: 10px;
        margin-right: 0px;
        margin-top: 15px;
        padding-left: 0px;
        padding-right: 10px;
    }

    .footer-copy p:last-child {
        font-size: 15px;
        text-align: center;
        margin-top: 5px;
    }
    .logo-footer {
        padding-bottom: 25px;
        text-align: center;
        padding-right: 25px;
    }
    .logo-footer img {
        width: 40%;
        display: inline-block;
    }
    form .search {
        width: 95%;
    }
    .footer-fl h2 {
        font-size: 22px;
    }
    .featured-logo {
        margin-top: 0px;
    }
    .featured-mini-titlebig a {
        font-size: 25px!important;
    }
    .img-opinion img {
        margin-left: 34% !important;
    }
    .img-ademas2{
        margin-top: 0px !important;
        display: inline-block;
    }
    .separador-outside {
        border-bottom: 1px solid #000;
        margin-top: 2.3%;
    }

    .navbar-default .navbar-nav>li>a {
        color: #FFF;
        font-size: 20px;
        padding-top: 25px;
    }
    .img-opinion img {
        margin-left: 125px;
    }
    .menu-menu-nav-container {float: left;}
    .menu-menu-tags {font-size: 13px; padding-left: 0px;}
    .img-ademas2 {
        margin-left: 0px;
        margin-top: 28%;
    }
    .featured-bigtitle {
        margin-bottom: 10px;
        font-size: 28px;
    }
    .img-ademas {
        margin-left: 25%;
        margin-top: 75px;
    }
    .sidebar-featured-category-container {width: auto;}
    .featured-opinions-content .media .media-body .media-heading {font-size: 19px;}
    .single-title {
        font-size: 25px;
        line-height: 35px;
    }
    .separador-text {
        font-size: 15px;
    }

    .responsive-tag-container { position: relative; }
    .tags-main-container .is-sticky .sidebar-related-container2 {width: 100%;   position: absolute;}
    .tags-mini-container {width: 100%;   position: absolute;}
    .tags-mini-container .is-sticky .sidebar-related-container2 {width: 100%; z-index: 999;}
    .tags-main-container {width: 100%;}
    .footer-inline {margin-top: 0px; text-align: center;}
    .alinearder {width: 100%;}
    .alinearizq {
        float: none !important;
        margin-left: 0px;
        width: 100%;
    }
    .alinearizq .wp-caption {width: 100% !important;}
    .alinearizq .iframe-bs iframe {width: 100% !important;}
    .iframe-bs {width: 100% !important;}
    .iframe-bs iframe {width: 100% !important;}

    .five-cols-item-author {font-size: 20px;}
    .three-cols-item-title {
        font-size: 20px;
    }
    .img-content-tag-small-five-cols {width: 14%;}
    .block-text {font-size: 13px;}
    .sidebar-mostrecent-title h2 {font-size: 13px;}
    .sidebar-mostviewed-title h2 {font-size: 13px;}
    .featured-opinions-content .media .media-body .media-heading {font-size: 20px;}
    .img-ademas2 {margin-top: 45%;}
    .archive-fotos-title h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .info-section1 h1 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 0px;
    }
    .content-section1 {font-size: 13px;}
    .footer-fl {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 667px) {
    .single-title h1 {
        font-size: 40px;
        line-height: 47px;
    }
    .logo-footer img {
        width: 45%;
    }

}
@media (max-width: 568px) {
    .single-title h1 {
        font-size: 37px;
        line-height: 45px;
    }

}
@media (max-width: 480px) {
    .single-info aside {
        width: 60%;
    }
    .img-section1 {
        padding-left: 15px;
    }
    form .search {
        width: 91%;
    }
    .separador-outside {
        border-bottom: 1px solid #000;
        margin-top: 5.3%;
    }
    .five-cols-item-title {
        font-size: 17px;
        line-height: 23px;
    }
    .menu-menu-tags-container ul::before {font-size: 12px;}
    .menu-tags li {font-size: 10px;}
    .single-title {
        font-size: 20px;
        line-height: 28px;
    }
    .sidebar-ministories-container {
        width: 100% !important;
    }
    .ads-single {
        margin-bottom: 10px;
        margin-right: 0px;
        margin-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
        width: 98%;
    }
}
@media (max-width: 414px){
    .three-cols-item-title {
        font-size: 18px;
    }
}
@media (max-width: 384px) {
    .five-cols-item-title {
        font-size: 15px;
        line-height: 23px;
    }
    .five-cols-item-author {
        font-size: 16px;
    }
    .three-cols-item-title {
        font-size: 16px;
    }
    .separador-text {
        font-size: 13px;
    }
}
@media (max-width: 375px){
    .single-title h1 {
        font-size: 38px;
        line-height: 45px;
    }
    .five-cols-item-title {
        font-size: 15px;
        line-height: 23px;
    }
    .five-cols-item-author {
        font-size: 16px;
    }
    .three-cols-item-title {
        font-size: 15px;
    }
    .separador-text {
        font-size: 12px;
    }
}
@media (max-width: 320px) {
    .sidebar-ministories-title h2 {
        font-size: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .sidebar-ministories-content h3 :first-child {
        font-size: 20px;
    }
    .five-cols-item-title {
        font-size: 13px;
        line-height: 10px;
    }
    .five-cols-item-author {
        font-size: 12px;
    }
    .three-cols-item-title {
        font-size: 14px;
    }
    .navbar-brand {
        padding: 0px;
        padding-top: 13px;
        padding-left: 15px;
        width: 75%;
    }
    .navbar-logo {
        width: 100%;
    }
    .menu-menu-tags {
        font-size: 13px;
        padding: 0px;
    }
    .featured-bigtitle {
        font-size: 25px;
    }
    .five-cols-title {
        bottom: 5px;
        left: 20px;
        right: 10px;
    }
    /* SINGLE */
    .single-title h1 {
        font-size: 30px;
        line-height: 40px;
        padding-left: 10px;
    }
    .single-excerpt p {
        font-size: 17px;
        line-height: 25px;
        font-weight: 100;
        margin-bottom: 7px;
        margin-top: 0;
    }
    .single-social-icons {
        padding-right: 0px;
    }
    .single-info aside {
        width: 100%;
    }
}

